<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ZeusEntities" connectionString="metadata=res://*/ZeusModel.csdl|res://*/ZeusModel.ssdl|res://*/ZeusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Zeus;user id=sa;password=123qweasd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ZeusDbContext" connectionString="Server=.;Initial Catalog=Zeus;User ID=sa;Password=123qweasd" providerName="System.Data.SqlClient" />
</connectionStrings>