@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>收款明细打印</title>
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/Zeus.js"></script>
    <script src="~/Content/js/jqprint/jQuery.print.js"></script>
    <script type="text/javascript">
        var keyValue = $.request("keyValue");
        $(function () {
            $.ajax({
                url: "/Routine/Receivables/GetSingle",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                    $("#T_1").html(data.F_1);
                }
            });
            $("#D_Receivables").print({
                mediaPrint: false,
                iframe: true,
                noPrintSelector: ".avoid-this",
                prepend: "",
                append: "",
                deferred: $.Deferred().done(function () { })
            });
        });
    </script>
</head>
<body>
    <div id="D_Receivables">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                @*<tr>
                    <td><div align="center" style="font-size: 12">单价</div></td>
                    <td><div align="center" style="font-size: 12">数量</div></td>
                    <td><div align="center" style="font-size: 12">合计</div></td>
                </tr>*@
                <tr>
                    <td id="T_1"></td>
                    <td id="T_2"></td>
                    <td id="T_3"></td>
                    <td id="T_4"></td>
                    <td id="T_5"></td>
                    <td id="T_6"></td>
                    <td id="T_7"></td>
                    <td id="T_8"></td>
                    <td id="T_9"></td>
                    <td id="T_10"></td>
                    <td id="T_11"></td>
                    <td id="T_12"></td>
                    <td id="T_13"></td>
                    <td id="T_14"></td>
                    <td id="T_15"></td>
                    <td id="T_16"></td>
                    <td id="T_17"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
